body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, .app-container, body, html {
  height: 100%;
  width: 100%;
  margin: 0!important;
  padding: 0!important;
  font-family: "Poppins"!important;
}

.custom-table-styles span {
    white-space: nowrap !important;
  }
  .custom-table-styles table {
    margin: 20px !important;
    width: 98% !important;
    border-collapse: collapse; 
  }
  .custom-table-styles  thead{
   text-align: left;
 }
 .custom-table-styles  td{
cursor: pointer;
 }
 .custom-table-styles td,
 .custom-table-styles th {
    padding: 0px 16px !important;
    height: 50px;
    white-space: nowrap !important;
    border-bottom: 1px solid rgba(224, 224, 224, 1); 
  }

  .custom-table-styles tr:hover {
   
    background-color: rgba(0, 0, 0, 0.04); 
  }
  .custom-table-styles th {
    background-color: #eaeef1 !important;
  }
  .NabBarItems{
    text-decoration: none;
    color: white;
  }
