body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
.app-container,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins" !important;
}
/* .custom-table-styles .MuiPaper-elevation2 {
  box-shadow:none !important;
} */
/* .custom-table-styles span {
    white-space: nowrap !important;
  }
  .custom-table-styles table {
    margin: 20px !important;
    width: 98% !important;
    border-collapse: collapse;
  }
  .custom-table-styles  thead{
   text-align: left;
   background: black;
 } */
/* .MuiTableHead-root{
   background: black !important;
 } */
/* .custom-table-styles  td{
cursor: pointer;
font-size: 12px !important;
 }
 .custom-table-styles .MuiPaper-root{
   background: black;
 }
 .custom-table-styles tr th{
   background: black;
 }
 .custom-table-styles th {
    padding: 0px 16px !important;
    height: 50px;
    white-space: nowrap !important;

    font-size: 12px;
  } */
.custom-table-styles > * tr:nth-child(even) td {
  background-color: #1f1f1f !important;
}

.order-table-styles >* tr:nth-child(even) td{
  background-color:#525252 !important;
}
.order-table-styles >* tr:nth-child(odd) td{
  background-color:#1F1F1F !important;
}
  /* .custom-table-styles tr:hover {
   
    background-color: rgba(0, 0, 0, 0.04); 
  } */
.custom-table-styles th {
  /* background-color: #eaeef1 !important; */
}
/* .MuiTableCell-root{
    border-bottom: unset !important;
    color: white !important;
  } */
.NabBarItems {
  text-decoration: none;
  color: white;
}
.font-size-34 {
  font-size: 34px !important;
  font-family: "Questrial", sans-serif !important;
}
.font-size-21 {
  font-size: 21px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.Primary-btn {
  background: #6f9ceb !important;
  border-radius: 0px !important;
  width: 168px !important;
}
.margin-20 {
  margin: 20px !important;
}
.align-items-end {
  align-items: flex-end;
}
.MuiFormControl-marginNormal {
  margin-bottom: 3px !important;
}
label,
input,
select {
  font-size: 12px !important;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.MuiToolbar-root {
  order: 1;
}
div.MuiToolbar-root + div {
  order: 3;
}
table.MuiTable-root {
  order: 2;
}

.map-container {
  min-height: 100vh;
}
